#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-0 .mbr-navbar__section {
  background: #efefef;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-5 .mbr-navbar__section {
  background: #efefef;
}
#menu-11 .mbr-brand__name {
  font-size: 16px;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-11 .mbr-navbar__section {
  background: #efefef;
}
#menu-18 .mbr-brand__name {
  font-size: 16px;
}
#menu-18.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-18 .mbr-navbar__section {
  background: #efefef;
}
#menu-22 .mbr-brand__name {
  font-size: 16px;
}
#menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #efefef;
}
#menu-22 .mbr-navbar__section {
  background: #efefef;
}
